/*Estilos globales (generales) ----------------------------------------------------
----------------------------------------------------------------------------------*/

* {
	box-sizing: border-box;		/* el * incluye a todos los elementos, sino los padding van a sumar al with del elemento y todo se va a desarmar */
	margin: 0px;
	padding: 0px;
}

article,		/*codigo de compatibilidad*/
aside,
details,
figcaption,
figure,
footer,
header,
main, 
menu,
nav,
section,
summary { 
  display: block;
  margin:0px;
}

html,
body {
	height:100%;
	/*font-size: 21px;*/
	font-size: 62.5%;
}

body {
	margin:0px; /*obligo al body a no tener el margen de 8px que trae por defecto, esto es para que me saque la linea blanca que queda arriba*/
	font-family: Calibri, sans-serif;	/*fuente del texto*/
	/*font-size: 21px;*/
	font-size: 10px;
	line-height: 25px; 	/*Interlineado*/
	background-color: black;	/*Color de fondo*/
	background-image: url("../img/fondo2.png");
	background-position: 50%;
	background-size: cover; 
	background-attachment: fixed;
}

#pantalla {
	width:100%;
	height:auto;
	position: relative;
	float:left;
}

.contenedor {
	width:1170px;		
	height:auto;
	position:relative;	
	margin:0px auto;		/* con esto me lo centra, no con float left */
	padding-left:15px;		/* siempre deja una separacion entre la pantalla general y el borde de la pantalla */
	padding-right:15px;		/* siempre deja una separacion entre la pantalla general y el borde de la pantalla */
	overflow: hidden;		/* para limpiar los float*/
	max-width: 100%;		/* para que no aparezca la barra del scroll abajo, sino siempre va a ser de 1170 px el ancho de la pantall */
}

}

h1 {
	margin: 0px;
}

img {
	max-width: 100%; /*Es muy importante para hacer el sitio de forma responsiva. Esto hace que la imagen crezca hasta cierto punto y si achico la pantalla se va achicango hasta el max ancho de pantalla*/
	height: auto; /*se agrega x las dudas, en teoria funciona por defecto*/
}

ul,li {
	list-style: none;
}

a {		
	font-weight: 600; /*esta entre normal y bold (negrita)*/
	text-decoration: none; /*le saco el subrayado*/
}


/*clases especiales ---------------------------------------------------------------
----------------------------------------------------------------------------------*/

.active {	/*referencia visual,dejo marcado en que pagina estoy*/
	border-bottom: solid 1px #f21f2f;
}

.italic {
	font-style: italic;
}

.normal {
	font-weight: normal;
}

.to-top {				/*boton para subir al inicio*/
		display:block;
		background:url(../img/to-top.svg) no-repeat center center;
		width: 60px;
		height: 60px;
	  	position: fixed;
	  	bottom: 40px;
	  	right: 10px;
	  	border-radius: 5px;
	  	box-shadow: 0 0 10px rgba(0, 0, 0, .05);
		background-color: rgba(93, 93, 93, .7);
}


/*Estilos particulares del sitio --------------------------------------------------
----------------------------------------------------------------------------------*/

/*Header -------------------------------------------------------------------------
-------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------
----------------------------------------------------------------------------------*/

header {
	width: 100%;
	height: 80px;
	position: fixed;
	top: 0px;
	left:0px;
	background-color: rgba(0,0,0,0.8);
	z-index: 9999;
}

	.logo {
		position: relative;
		float: left;
	}

	.logo img{
		margin-left:40px;
		margin-top:5px;
		height: 70px;
	}

	.header-menu {					
		width: 77%;
		height: 80px;
		position:relative;
		float: left;
		margin-left: 30px;
		/*left:0;*/
	}

	.menu-ubicacion {		/*se hace de esta forma para el menu responsivo*/
		left: 0;
	}

	.header-menu li {
		width: 33%;
		text-align: center;
		position:relative;
		float: left;
		top: 26px;
	}

	.header-menu li a {
		width: 100%;
		text-transform: uppercase;
		font-size:20px;
		color:white;
	}

	.header-menu li a:hover {
		background-color:rgb(91,155,213);	
	}

	.header-languages {
		position:relative;
		float: right;
		top: 27px;
		right: 30px;
	}

	.header-languages img {
		height: 27px;
		width: 40px;
	}
	
	/*icono del menu off-canvas*/

	.navbar-toggle {
		width:60px;
		height:60px;
		position:absolute;
		top:0;
		right:100px;
		padding:15px;
		background-color: transparent;
		border:solid 3px #333;
		cursor:pointer;
		display:none;
	}
		.navbar-toggle .icon-bar {
			height:3px;
			display:block;			
			background-color:#f5f4f4;
		}
		.navbar-toggle .icon-bar + .icon-bar {
			margin-top:6px;
		}
	
	/*menu-cerrar es el encabezado del menu off-canvas donde esta el logo y el boton cerrar del menu off-canvas*/

	.menu-cerrar {
		display: none;
	}

	.menu-cerrar li {
		width: 100%;
		height: auto;
		text-transform: uppercase;
		font-size:20px;
		color:white;
	}

	.menu-cerrar-logo {
		width: 100%;
	}

	.menu-cerrar img {	
		width: 75px;
		margin-left: auto;
		margin-right: auto;
	}

	.menu-cerrar h3 {
		position: absolute;
		top:0;
		right: 0;
		color: white;
		font-size: 25px;
		margin-right:10px;
		margin-top:10px;
		border: solid 1px red;
		padding:15px;
		border:solid 3px #333;
		cursor:pointer;
	}


/*principal -----------------------------------------------------------------------
----------------------------------------------------------------------------------*/

.principal {
	width: 100%;
	height: auto;
	/*display: flex;		para hacer que las columnas sean iguales de alto por mas que no tengan la misma altura real*/
	position: relative;
	float:left;
	margin-top: 125px;
	margin-bottom: 30px;
	height: auto;
	background-color: #fff;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 10px;
	padding-bottom: 40px;
	box-shadow: 5px 5px 6px rgba(0,0,0,0.8);
}

	.principal h1 {
		text-align: center;
		font-size: 4.0rem;
		color:rgb(91,155,213);
		padding-bottom: 5px;
	}

	.principal p {
		font-size: 2.0rem;
		margin-top: 8px;
		text-align: justify;
	}


/*footer -----------------------------------------------------------------
-------------------------------------------------------------------------------------*/

footer {
	width: 100%;
	height: 30px;
	position: fixed;
	bottom: 0px;
	left:0px;
	background-color: rgba(0,0,0,0.8);
	z-index: 9999;
	text-align: center;
}
	.caja-footer {
		/*width: 60%;*/
		position: relative;
		float: none;
		margin-top: 2px;
		/*padding-left: 29%;*/
	}

	footer h3 {
		display: inline;
		font-size: 15px;
		color:grey;
		font-style: italic;
	}

	footer a{
		display: inline;
		font-size: 15px;
		color:grey;
		font-style: italic;
	}



/*sitio responsivo -----------------------------------------------------------------
-------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------
----------------------------------------------------------------------------------*/

/*punto de quiebre -----------------------------------------------------------------
-------------------------------------------------------------------------------------*/

@media screen and (max-width:900px) {
	
	header {
		height:60px;

	}

	.principal {
		margin-top: 100px;
	}

	.logo img{
		margin-left:20px;
		margin-top:5px;
		height: 50px;
	}

	.navbar-toggle {
		display:block;
	}

	.menu-cerrar {
		display: block;
	}

	.header-menu {
		width:100%;
		height:auto;
		position:fixed;
		top:0;
		margin:0;
		padding: 0;
		z-index:99;
		-webkit-transition:all 400ms ease-in-out;
    	-moz-transition:all 400ms ease-in-out;
    	-o-transition:all 400ms ease-in-out;
		transition:all 400ms ease-in-out;
	}

	.header-menu li {
		width:100%;	
		margin:0;
		padding:0;
		top:0;		
		float:left;	
		background-color:black;	
	}

	.menu-ubicacion {
		left: -1850px;
	}

	.menuResponsivo-ubicacion {
		left:0;
	}	

	.header-languages {
		top: 17px;
	}


	/* no funciona el menu responsivo en IOS mobile de esta formar, por lo que tuve que hacerlo con jQuery

	.navbar-toggle:focus ~ .header-menu {
		left:0px;
	}*/

	footer {
	height: 20px;

	}
	
	.caja-footer {
		margin-top: -4px;
	}

	footer h3 {
		font-size: 12px;
	}
}

/*punto de quiebre -----------------------------------------------------------------
-------------------------------------------------------------------------------------*/

@media screen and (max-width:670px) {

	.contenedor {
	padding-left:0px;		
	padding-right:0px;		
	}

}

/*punto de quiebre -----------------------------------------------------------------
-------------------------------------------------------------------------------------*/

@media screen and (max-width:500px) {

	html, body {
		font-size: 1.7vw;
	}

	.principal {
		padding-left: 20px;
		padding-right: 20px;
	}

	footer {
		height: 5vw;

	}
		.caja-footer {
			margin-top: -1vw;
		}

		footer h3 {
			font-size: 2.3vw;
		}

}


