body{
	font-family: "yanone", Arial, Helvetica;
	font-size: 15px;
	background: url("../img/construccion.jpg");
	background-attachment: fixed;				/*el fondo se queda fijo*/
	background-repeat: no-repeat;
	background-size: cover;
}

